@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --background: #141617;
  --background2: #17191b;
  --text: #ddc7a1;
  --highlight: #d3869b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ddc7a1;
  font-family: "Inter", sans-serif;

*::selection {
    background-color: var(--highlight);
    color: var(--background);
}

body {
  background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--highlight2);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  font-size: 18px;
  line-height: 2rem;

blockquote {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

blockquote::before {
    content: " ";
    width: 3px;
    height: 32px;
    background-color: var(--highlight);
    font-weight: 600;
}

pre {
  padding: 32px 32px;
  overflow: auto;
  border-radius: 8px;
  background: var(--background2);
  font-weight: 600;
}

ul {
  margin-left: 32px;
  font-size: 18px;
  line-height: 2rem;
}

code {
  line-height: 1.5rem;
  white-space: pre;
}
