@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
    --background: #141617;
    --background2: #17191b;
    --foreground: #ddc7a1;
    --highlight: #d3869b;
    --highlight2: #7daea3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ddc7a1;
    font-family: "Inter", sans-serif;
}

*::selection {
    background-color: var(--highlight);
    color: var(--background);
}

body {
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--highlight2);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    font-size: 18px;
    line-height: 2rem;
}

blockquote {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-left: 4px solid var(--highlight);
    padding-left: 8px;
    opacity: 80%;
}

pre {
    padding: 32px 32px;
    overflow: auto;
    border-radius: 8px;
    background: var(--background2);
    font-weight: 600;
}

ul {
    margin-left: 32px;
    font-size: 18px;
    line-height: 2rem;
}

code {
    line-height: 1.5rem;
    white-space: pre;
}

p code {
    background: var(--background2);
    padding: 4px;
    font-style: italic;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #282828;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
    color: #ea6962;
}

.token.punctuation {
    color: #ddc7a1;
}

.token.tag,
.token.class-name,
.token.tag .punctuation,
.token.attr-name,
.token.doctype {
    color: #d8a657;
}

.token.entity,
.token.boolean,
.token.number,
.token.symbol {
    color: #d3869b;
}

.token.property,
.token.constant,
.token.operator,
.token.variable {
    color: #e78a4e;
}

.token.string,
.token.builtin,
.token.url,
.token.function,
.token.regex,
.token.char {
    color: #a9b665;
}

.token.attr-value,
.token.attr-value .punctuation {
    color: #282828;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.inserted {
    background: #282828;
}

.token.deleted {
    background: #fb4934;
}
