.token.comment,
.token.prolog,
.token.cdata {
  color: #282828;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ea6962;
}

.token.punctuation {
  color: #ddc7a1;
}

.token.tag,
.token.class-name,
.token.tag .punctuation,
.token.attr-name,
.token.doctype {
  color: #d8a657;
}

.token.entity,
.token.boolean,
.token.number,
.token.symbol {
  color: #d3869b;
}

.token.property,
.token.constant,
.token.operator,
.token.variable {
  color: #e78a4e;
}

.token.string,
.token.builtin,
.token.url,
.token.function,
.token.regex,
.token.char {
  color: #a9b665;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #282828;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #282828;
}

.token.deleted {
  background: #fb4934;
}
