---
import Index from "../layouts/index.astro"
---

<Index>
    <div>
        <p>Hello there. My name is Marcos. I'm a 19 years old brazillian developer. I spend most of my time with computers and enjoy most of it.</p>
        <p>Here is some stuff I'm into:</p>
        <ul>
            <li>*nix and OS's (you can check my dotfiles <a href="https://github.com/marcos-brito/dotfiles">here</a>)</li>
            <li>Low level programming (I hope I'll know everything down to the atoms someday)</li>
            <li>Rust (but i can't get Golang out of my mind)</li>
            <li>Star Wars (maybe you can catch some references...)</li>
            <li>Talking to people I like (&#x1F633)</li>
        </ul>
        <p>If you are looking for my technical skills and work, check the <a href="/nnago/resume">resume</a> page.</p>
    </div>
</Index>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
</style>
