---
import Index from "../layouts/base.astro"
---

<Index>
    <div>
        <p>
            Hello there. My name is Marcos Brito and I've been writing code for a while. I see
            programming as some kind of art. Simple code, elegant architectures and nice looking text files
            are a few things that could make me cry and being able to create that is something I'm really proud of.
            Here is some stuff I'm into with no particular ordering:
        </p>
        <ul>
            <li>
                <strong>*nix ricing:</strong>
                Been doing since I started using GNU/Linux. Took me many months to understand that trying to make my enviroment
                more productive wasn't very productive. Nowadays it looks nice, feels good and I can do actual work. I barely touch it.
                <blockquote>
                    You can check my dotfiles
                    <a href="https://github.com/marcos-brito/dotfiles">here</a>
                </blockquote>
            </li>
            <li>
               <strong>Compilers and programming languages:</strong>
                By far my favorite thing. I've been through quite a few books and code bases. I always try to make room for it in my 
                studies and will give my best to find a way to fit an interpreter in any project.
            </li>
            <li>
               <strong>Operating systems:</strong>
               There are two perspectives on this one: Bare metal programming and lower level OS interactions. Even though I haven't wrote
               any OS my self yet, I had great time reading <a href="https://wiki.osdev.org">OS dev</a>, the 
               <a href="https://www.kernel.org">Kernel archives</a> and a few micro-kernels out there.                 
            </li>
            <li>
               <strong>Distributed architectures:</strong>
               The years made me not appreciate web devlopment much, but I still have great time planning architectures, micro-services and solving
               system design problems. I enjoy writing backend code and with the amazing tools out there I can even tolerate writing UIs.
            </li>
        </ul>
        <p>
            I don't want to make this an extensive list of everything I ever enjoyed nor make it very personal,
            so I'll stop right here. If you are looking for something more technical and professional, please check the 
            <a href="/nnago/resume">resume page</a>. Thank you for your time.
        </p>
    </div>
</Index>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
</style>
