---
import Base from "../layouts/base.astro";
---

<Base>
  <div>
    <p>
      My resume is available for download <a
        href="/nnago/marcos-brito-resume.pdf"
        download>here</a
      > and you can find me in these places:
    </p>
    <ul>
      <li><a href="https://github.com/marcos-brito">GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/marcos-brito07/">LinkedIn</a>
      </li>
    </ul>
  </div>
</Base>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
