---
import Base from "../layouts/Base.astro";
import { SEO } from "astro-seo";
---

<Base>
  <SEO
    slot="seo"
    title="Marcos Brito's resume | nnago"
    description="Check Marcos Brito's resume and learn where to find him"
    charset="UTF-8"
    twitter={{
      card: "summary",
      title: "Marcos Brito's Resume - Software Enginner",
      description: "Check Marcos Brito's resume and learn where to find him",
      image: `https://marcos-brito.github.io/nnago/logo.png`,
      imageAlt: "Website's logo",
    }}
    openGraph={{
      basic: {
        title: "Marcos Brito's Resume - Software Enginner",
        type: "website",
        image: `https://marcos-brito.github.io/nnago/logo.png`,
        url: "https://marcos-brito.github.io/nnago/resume",
      },
      optional: {
        description: "Check Marcos Brito's resume and learn where to find him",
        siteName: "nnago",
      },
      image: {
        alt: "Website's logo",
      },
    }}
  />
  <div>
    <p>
      My resume is available for download <a
        href="/nnago/marcos-brito-resume.pdf"
        download>here</a
      > and you can find me in these places:
    </p>
    <ul>
      <li><a href="https://github.com/marcos-brito">GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/marcos-brito07/">LinkedIn</a>
      </li>
    </ul>
  </div>
</Base>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
