---
import MenuIcon from "./icons/MenuIcon.astro";
---

<header>
  <a href="/nnago">nnago</a>
  <nav>
    <a href="/nnago/about">about</a>
    <a href="/nnago/resume">resume</a>
  </nav>
  <button popovertarget="menu">
    <MenuIcon />
  </button>
  <div id="menu" popover>
    <nav>
      <a href="/nnago/about">about</a>
      <a href="/nnago/resume">resume</a>
    </nav>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 64px;
  }

  header > nav {
    display: flex;
    gap: 32px;
  }

  header > a {
    color: var(--magenta);
    font-size: 2rem;
  }

  button {
    background-color: transparent;
    display: none;
  }

  div {
    position: absolute;
    top: 100px;
    left: calc(100% - 100px);

    nav {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
    }
  }

  a {
    color: var(--foreground);
  }

  @media only screen and (max-width: 600px) {
    button {
      display: inline;
    }

    header > nav {
      display: none;
    }
  }
</style>
