---
---

<nav class="nav">
    <a class="logo" href="/nnago">nnago</a>
    <div>
        <a href="/nnago/about">about</a>
        <a href="/nnago/resume">resume</a>
    </div>
</nav>

<style>
    .nav {
      display: flex;
      justify-content: space-between;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 64px;
    }

    .nav div {
      display: flex;
      gap: 32px;
    }

    .logo {
      color: var(--highlight);
      font-size: 2rem;
    }
</style>
