---
import type { MarkdownHeading } from "astro";
import ListIcon from "./icons/ListIcon.astro";

type Props = {
  headings: Array<MarkdownHeading>;
};

const { headings } = Astro.props;
---

<button popovertarget="table-of-contents">
  <ListIcon />
  <p>Table of contents</p>
</button>
<aside id="table-of-contents" popover>
  <div>
    <h1>Table of contents</h1>
    {
      headings.map((heading) => (
        <a
          style={{
            marginLeft: `${heading.depth > 1 ? heading.depth : 0}rem`,
          }}
          href={`#${heading.slug}`}
        >
          {heading.text}
        </a>
      ))
    }
  </div>
</aside>

<style>
  button {
    position: fixed;
    left: 50px;

    p {
      font-size: 12px;
    }
  }

  aside {
    left: 50px;
    top: 30%;

    div {
      display: flex;
      font-size: 12px;
      flex-direction: column;
      gap: 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    button > p {
      display: none;
    }
</style>
