---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="seo" />
  </head>
  <body>
    <Nav />
    <main class="main">
      <article class="content">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
  }
</style>
